html {
    box-sizing: border-box;
    font-family: 'open-sans';
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: OpenSans;
}

p {
    margin: 0;
    font-family: OpenSans;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: OpenSans;
}

.btn-reset {
    padding: 0;
    font-family: OpenSans;
    border: none;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.flex {
    display: flex;
}

@font-face {
    font-family: "OpenSans";
    src: local('OpenSans'), url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local('OpenSans'), url('../fonts/open-sans-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 1600px;
    margin-left: 160px;
    margin-right: 160px;
    padding: 0;
}

.header__nav__1024 {
    display: none;
}

header {
    max-width: 1920px;
    min-height: 100px;
    background-color: black;
    position: relative;
    z-index: 100;
}

.header-logo {
    margin-bottom: 30px;
    margin-right: 350px;
}

.header__nav {
    max-height: 100px;
}

.nav-bar {
    position: absolute;
    background-color: #000;
    opacity: 0.9;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
}

.toggle {
    left: 0;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 1070px;
    width: 36px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.toggle .toggle-menu {
    left: 50px;
}

.line {
    width: 36px;
    height: 3.65px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
}

.line1 {
    width: 36px;
    height: 3.65px;
    border-radius: 0px;
    margin-bottom: 8.5px;
}

.line2 {
    width: 28.2px;
    height: 3.65px;
    border-radius: 0px;
    margin-bottom: 8.5px;
}

.line3 {
    width: 24px;
    height: 3.65px;
    border-radius: 0px;
}

.toggle .line1 {
    background-color: white;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
    width: 19px;
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    background-color: white;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
    width: 19px;
}

.toggle .toggle-menu {}

.nav-list {
    margin-top: 700px;
    background-color: black;
    width: 100%;
}

.nav-list-item {
    text-align: left;
    padding: 10px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.enter {
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 31px 10px 32px;
    border: 2px solid #9D5CD0;
    width: 120px;
    border-radius: 100px;
    margin-top: 263px;
    margin-bottom: 27px;
}

.nav-link {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
}

.nav-link::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.header__nav__list {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.header__nav__item:not(:first-child) {
    padding-top: 7px;
}

.header__nav__item:not(:first-child) {
    margin-right: 62px;
}

.header__nav__item:last-child {
    margin-left: 363px;
    font-weight: 400;
}

.hero__nav__arrow {
    margin-left: 4px;
}

.header__nav__item {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.header-link {
    transition: 0.3s ease-in-out;
}

.enter-svg {
    margin-top: 6px;
    margin-right: 7px;
}

.header-link:focus {
    background-color: #7943a4;
    border: none;
    outline: none;
}

.header-link:hover {
    color: #C283F3;
}

.header-link:hover path {
    fill: #C283F3;
    transition: all 0.3s ease-in-out;
}

.header-link:active path {
    fill: #7943A4;
}

.header-link:active {
    color: #7943A4;
    background-color: transparent;
}

.hero__nav__button {
    color: white;
}

.enter-link {
    max-width: 75px;
    height: 19px;
}

.search-form-input {
    max-width: 218px;
    height: 20px;
    margin-left: 9px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background: transparent;
}

.search-form-input:focus {
    border-bottom: 1px solid #C283F3;
}

.search-form-input:hover {
    border-bottom: #C283F3;
}

.search-form-input:active {
    border-bottom: #7943A4;
}

.search-form-btn {
    vertical-align: bottom;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.swiper-container {
    max-width: 1920px;
    overflow: hidden;
}

.swiper-buttons {
    position: static;
}

.hero {
    min-height: 700px;
}

.background-first {
    min-height: 800px;
    background-image: url('../img/hero-background1920.jpg');
}

.background-second {
    background-image: url('../img/hero-background-2.jpg');
    min-height: 800px;
}

.background-third {
    background-image: url('../img/hero-background3.jpg');
    min-height: 800px;
}

.swiper-container {
    margin-top: -170px;
    z-index: 1;
    overflow: hidden;
}

.hero__nav {
    position: relative;
    z-index: 100;
    overflow-y: visible;
}

.hero__nav__list {
    flex-direction: row;
    padding-left: 0;
    background: rgba(0, 0, 0, 0.4);
    max-width: 1920px;
    max-height: 70px;
    overflow-y: visible;
}

.tabs-item-btn2 {
    width: 220px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: white;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 14px;
    margin-left: 40px;
    transition: all 0.3s ease-in-out;
}

.tabs-btn-bg-1 {
    background-image: url(../img/tab-background-1.jpg);
}

.tabs-btn-bg-2 {
    background-image: url(../img/fridrih.jpg);
}

.tabs-btn-bg-3 {
    background-image: url(../img/leonardo.jpg);
}

.tabs-btn-bg-4 {
    background-image: url(../img/verokko.jpg);
}

.tabs-btn-bg-5 {
    background-image: url(../img/mone.jpg);
}

.tabs-btn-bg-6 {
    background-image: url(../img/sislay.jpg);
}

.tabs-btn-bg-7 {
    background-image: url(../img/mane.jpg);
}

.tabs-btn-bg-8 {
    background-image: url(../img/renuar.jpg);
}

.tabs-btn-bg-9 {
    background-image: url(../img/vangog.jpg);
}

.tabs-btn-bg-10 {
    background-image: url(../img/sezann.jpg);
}

.tabs-btn-bg-11 {
    background-image: url(../img/gogen.jpg);
}

.tabs-btn-bg-12 {
    background-image: url(../img/sera.jpg);
}

.tabs-btn-bg-13 {
    background-image: url(../img/kand.jpg);
}

.tabs-btn-bg-14 {
    background-image: url(../img/marinetti.jpg);
}

.tabs-btn-bg-15 {
    background-image: url(../img/malevich.jpg);
}

.tabs-btn-bg-16 {
    background-image: url(../img/picasso.jpg);
}

.tabs-btn-bg-17 {
    background-image: url(../img/karra.jpg);
}

.tabs-btn-bg-18 {
    background-image: url(../img/pratella.jpg);
}

.tabs-btn-bg-19 {
    background-image: url(../img/severini.jpg);
}

.tabs-btn-bg-20 {
    background-image: url(../img/balla.jpg);
}

.qwe {
    margin-left: 50px;
}

.tabs-item-btn2:hover {
    border: 2px solid #9D5CD0;
}

.tabs-item-btn2:focus {
    border: 2px solid #9D5CD0;
}

.tabs-item-btn2:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    border: 2px solid #D1A9F0;
}

.tabs-item2 {
    padding-left: 0;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

.tabs-item2 {
    display: none;
}

.tabs-item--active2 {
    display: block;
    position: absolute;
    padding-top: 40px;
    top: 70px;
}

.simplebar-scrollbar::before {
    background: #fff;
}

.simplebar-scrollbar {
    max-height: 70px;
    width: 6px;
}

.simplebar-scrollbar:before {
    background: #fff;
    opacity: 1;
    border-radius: 10px;
}

.hero__nav__item {
    color: white;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-right: 97px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.hero__nav__item:first-child {
    margin-left: 160px;
}

.hero__nav__item:last-child {
    margin-left: 220px;
}

.hero__nav__button {
    transition: all 0.3s ease-in-out;
}

.hero__nav__button:focus {
    outline: none;
    background-color: #7943A4;
    transition: all 0.3s ease-in-out;
}

.hero__nav__button:hover {
    color: #C283F3;
    transition: all 0.3s ease-in-out;
}

.hero__nav__button:hover path {
    stroke: #C283F3;
    transition: all 0.3s ease-in-out;
}

.hero__nav__button:active path {
    stroke: #7943A4;
    transition: all 0.3s ease-in-out;
}

.hero__nav__button:active {
    color: #7943A4;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.hero__title {
    font-family: OpenSans;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    margin-top: 230px;
    color: white;
    max-width: 597px;
    margin-left: 160px;
}

.hero__descr {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: white;
    max-width: 579px;
    margin-left: 160px;
}

.hero__btn {
    color: white;
    margin-left: 160px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    padding: 22px 35px;
    background-color: #9D5CD0;
    border-radius: 100px;
    margin-top: 92px;
}

.hero__btn:focus {
    border: 2px solid #C283F3;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.hero__btn:hover {
    background: #9D5CD0;
    border: 3px solid #D1A9F0;
    transition: all 0.3s ease-in-out;
}

.hero__btn:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
}

.about-us__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    margin-top: 80px;
}

.about-us__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 1080px;
    margin-top: 15px;
}

.gallery {
    background-image: url('../img/background-gallery.jpg');
    min-height: 595px;
}

.gallery__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    margin-top: 70px;
    padding-top: 80px;
    margin-bottom: 16px;
    color: white;
    max-width: 190px;
}

.gallery__input-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: white;
}

.gallery__list {
    flex-wrap: nowrap;
}

.swiper-container-4 {
    margin-left: 50px;
    overflow: hidden;
    max-width: 1150px;
}

label {
    color: white;
}

.popup {
    display: none;
}

.marker {
    position: relative;
}

.marker:hover+.popup {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 0.5;
}

.marker:active+.popup {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 0.5;
}

.marker:active {
    background-color: #D1A9F0;
}

.marker:focus {
    border: 3px solid #7943A4;
}

.gallery__checkbox {
    flex-direction: column;
    margin-top: 185px;
}

.gallery__item__img {
    position: relative;
    width: 350px;
}

.gallery__img-hover {
    display: none;
    position: absolute;
}

.gallery__item__img:focus {
    border: 3px solid #7943A4;
}

.gallery-button-prev {
    background-image: url('../img/gallery-arrow-prev.svg');
    width: 30px;
    height: 30px;
    position: absolute;
    top: -410px;
    left: 450px;
}

.gallery-button-next {
    background-image: url('../img/gallery-arrow-next.svg');
    width: 30px;
    height: 30px;
    position: absolute;
    top: -410px;
    left: 550px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-pagination-fraction {
    left: none;
    bottom: none;
    

}

.gallery-buttons {
    display: inline-block;
    position: relative;
}

.swiper-pagination-fraction {
    left: none;
    position: absolute;
    color: white;
    top: -430px;
    left: 490px;
    width: 47px;
    bottom: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

#selectCustom {
    background-color: transparent;
}

.option-gallery {
    color: white;
}

.custom-checkbox {
    font-family: OpenSans;
}

.custom-checkbox:not(:first-child) {
    margin-top: 11px;
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


/* для элемента label, связанного с .custom-checkbox */

.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}


/* создание в label псевдоэлемента before со следующими стилями */

.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:active {
    color: #7943a4;
}


/* стили при наведении курсора на checkbox */

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {}


/* стили для активного чекбокса (при нажатии на него) */

.custom-checkbox>input:not(:disabled):active+span::before {}


/* стили для чекбокса, находящегося в фокусе */

.custom-checkbox>input:focus+span::before {}


/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */

.custom-checkbox>input:focus:not(:checked)+span::before {}


/* стили для чекбокса, находящегося в состоянии checked */

.custom-checkbox>input:checked+span::before {
    border-color: #C283F3;
    background-image: url("../img/cheked.svg");
}


/* стили для чекбокса, находящегося в состоянии disabled */

.custom-checkbox>input:disabled+span::before {
    background-color: #ffffff;
}

.choices__inner {
    width: 176px;
    min-height: 39px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.choices__placeholder {
    opacity: 1;
    padding: 9px 92px 11px 15px;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    width: 400px;
    border: 1px solid red;
    border-radius: 10px;
}

.choices:focus {
    border: 1px solid red;
    border-radius: 10px;
}

.choices {}

.choices[data-type*=select-one]::after {
    right: auto;
}

.choices.is-focused.is-open {
    width: 400px;
    border: 1px solid red;
    border-radius: 10px;
}

.choices__list--single {
    padding: 0;
    border: 1px solid red;
    border-radius: 10px;
}

.gallery__check:checked+.checked {
    color: #7943a4;
}

select {
    min-width: 400px;
    height: 40px;
    border-radius: 6px;
    color: white;
}

.select__toggle {
    width: 400px;
    height: 40px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    font-style: normal;
    margin-top: 10px;
    font-family: OpenSans;
}

.select__toggle::after {
    background-image: url('../img/select-arrow.svg');
    width: 12px;
    height: 7px;
}

.select__toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.select__toggle:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.select__option_selected {
    background: rgba(255, 255, 255, 0.2);
}

.select__option_selected::after {
    display: none;
}

.select__option:hover {
    background: rgba(255, 255, 255, 0.2);
}

.select__dropdown {
    width: 400px;
    border-radius: 6px;
    background-color: transparent;
}

.select__options {
    color: white;
    font-family: OpenSans;
}

.catalog__title {
    margin-top: 80px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
}

.catalog__descr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 1080px;
    margin-bottom: 40px;
}

.catalog__item__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.catalog__item__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    margin-bottom: 7px;
}

.catalog__item__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 749px;
}

.catalog__akk {
    flex-direction: column;
}

.catalog__akk__item {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    min-width: 800px;
    margin-left: auto;
}

.ac-text {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
}

.ac .ac-panel .ac-text {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0;
    padding-top: 15px;
    font-family: OpenSans;
    max-height: 310px;
    max-width: 740px;
}

.ac .ac-trigger::after {
    content: url(../img/akk-arrow.png);
    right: 35px;
    top: 53%;
}

.ac.is-active>.ac-header .ac-trigger::after {
    content: url(../img/akk-arrow-purp.svg);
    right: 35px;
    top: 53%;
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: block;
}

.no-info-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 30px;
}

.no-info-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-top: 15px;
}

.no-info-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
}

.empty {
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.grey-img {
    padding: 12px;
    border: 2px solid #b7b7b7;
}

.empty-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-left: 24px;
    margin-top: 50px;
}

.ac {
    border: 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    margin-top: 0;
}

.ac .ac-trigger {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-top: 41px;
    padding-bottom: 41px;
    font-family: OpenSans;
    padding-left: 0;
}

.ac .ac-trigger:focus {
    color: #7943A4;
    border-top: 1px solid #7943a4;
    border-bottom: 1px solid #7943a4;
    outline: none;
}

.tabs-nav__item {
    margin-bottom: 7px;
}

.tabs-nav__item:focus {
    outline: none;
}

.tabs-nav__item:hover {
    background-color: transparent;
    color: #9D5CD0;
    text-decoration: 1px solid underline purple;
}

.empty-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 24px;
    margin-top: 5px;
    max-width: 275px;
}

.empty-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
    margin-left: 24px;
    margin-top: 5px;
}

.akk__item__Svg {
    position: absolute;
    right: 160PX;
}

.catalog__akk {
    margin-left: 50px;
}

.events__list__item:not(:last-child) {
    margin-right: 50px;
}

.swiper-container-2 {
    max-width: 1600px;
    overflow: hidden;
    height: 702px;
}

.events__card,
.events-slide {
    max-width: 500px;
    max-height: 700px;
}

.events-pagination {
    display: none;
}

.events__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    margin-top: 80px;
    margin-bottom: 16px;
}

.events__item__date {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    color: #999999;
    max-width: 135px;
    margin-left: 49px;
}

.events__item__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 13px;
    max-width: 400px;
    margin-left: 49px;
}

.events__item__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 400px;
    margin-left: 49px;
    margin-bottom: 65px;
}

.events__item__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #9D5CD0;
    text-decoration: underline;
    position: absolute;
    left: 49px;
    bottom: 50px;
}

.events__item__link:focus {
    background: #9D5CD0;
}

.events__item__link:hover {
    color: #7943A4;
}

.events__item__link:active {
    color: #333333;
}

.events__card {
    border: 1px solid #cacaca;
    min-height: 700px;
    position: relative;
}

.projects__title {
    margin-top: 78px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 14px;
}

.projects__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 1075px;
}

.projects__descr__link {
    color: #9D5CD0;
}

.projects__partners-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
}

.projects__list__item {
    margin-top: 67px;
}

.projects__list__item:not(:last-child) {
    margin-right: 50px;
}

.projects__list__item:first-child {
    margin-left: 75px;
}

.projects__item__img {
    filter: grayscale(100);
    opacity: 50%;
    width: 450px;
    transition: all 0.3s ease-in-out;
}

.swiper-container-3 {
    margin-top: 23px;
    max-width: 1450px;
    overflow: hidden;
    margin-left: 75px;
    position: relative;
}

.projects__swiper__item {
    width: 450px;
}

.projects-button {
    position: relative;
}

.swiper-button-events {
    position: relative;
}

.swiper-button-events-next {
    top: -350px;
    right: -25px;
    background-image: url(../img/events-arrow.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}


.swiper-button-events-prev {
    position: absolute;
    display: none;
}

.projects-button-prev {
    background-image: url('../img/projects-arrow-left.png');
    width: 30px;
    height: 30px;
    position: absolute;
    top: -70px;
    left: 0px;
}

.projects-button-next {
    background-image: url('../img/projects-arrow-right.png');
    width: 30px;
    height: 30px;
    position: absolute;
    top: -70px;
    right: 0px;
}

.projects-button-next:focus {
    outline: 2px solid #9D5CD0;
    border-radius: 100px;
}

.projects-button-prev:focus {
    outline: 2px solid #9D5CD0;
    border-radius: 100px;
}

.projects-button-next:hover path {
    outline: none;
    fill: #D1A9F0;
}

.projects__item__img:hover {
    filter: none;
    opacity: 100%;
}

.projects__item__img:active {
    outline: 1px solid #9D5CD0;
}

.tooltip:focus path {
    fill: #D1A9F0;
}

.tooltip:hover path {
    fill: #D1A9F0;
    stroke: black;
}

.tooltip:active path {
    fill: #9D5CD0;
    stroke: black;
}

.adress {
    margin-top: 75px;
    border-top: 1px solid #cacaca;
    padding-top: 43px;
}

.adress__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.adress__adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-right: 27px;
    width: 265px;
    margin-top: 3px;
    letter-spacing: -1px;
}

.adress__input {
    border-radius: 100px;
    width: 270px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid;
    margin-right: 16px;
}

.none {
    display: none;
}

.adress__input:hover {
    background-color: #eaeaea;
}

.adress__input:active {
    background-color: #ffffff;
}

.adress__input:focus {
    background-color: #eaeaea;
}

.tel {
    margin-right: 20px;
}

.btn-320 {
    display: none;
}

form {
    position: relative;
}

.just-validate-error-label {
    position: absolute;
    top: -20px;
    left: 43px;
}

::placeholder {
    padding: 9px 43px 9px 23px;
}

.adress__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding: 12px 36px;
    text-align: center;
    color: #9D5CD0;
    border: 1px solid #9D5CD0;
    border-radius: 100px;
    margin-right: 80px;
}

.adress__item__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: -5px;
    margin-left: 5px;
}

.adress__svg {
    margin-top: 6px;
    margin-bottom: 39px;
    margin-left: 5px;
    margin-right: 10px;
}

.adress__svg:hover {
    opacity: 0.5;
}

.name {
    display: none;
}

.adress__svg:focus {
    opacity: 0.5;
}

.adress__svg:active {
    outline: 1px solid #333333;
    border-radius: 100px;
}

#map {
    width: 100%;
    height: 700px;
    margin-top: -5px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

footer {
    min-width: 140px;
    background-color: black;
}

.footer__list {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__list__item {
    transition: all 0.3s ease-in-out;
}

.footer__svg {
    margin-left: 1254px;
}

.footer__svg-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.footer__list__item:hover path {
    fill: #ffffff;
}

.footer__list__item:focus path {
    fill: #ffffff;
}

.footer__list__item:active path {
    fill: #9D5CD0;
}